*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
.btn{
    outline: none;
    border: none;
    background: none;
    padding: 0;
}
.container{
    width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.content-descr{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.header{
    width: 100%;
    height: 90px;
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    max-width: 200px;
    margin-right: 30px;
}

.menu{
    display: flex;
    justify-content: center;
    margin: 0 40px 0 0;
    padding: auto;
    list-style: none;
    
}

.menu-item + .menu-item{
    margin-left: 40px;
    
}

.menu-link{
font-size: 16px;
font-weight: 400;
line-height: 19px;
color: #4F5665;
text-decoration: none;
}

.user-block{
    max-width: 250px;
    padding-right: 33px;
}
.user-button{
    max-width: 145px;
    color: #F53855;
    padding: 12px 35px;
    border-radius: 50px;
    border: 1px solid #F53855;
    background: #fff;
}
.user-button:hover{
    transform: scale(1.2);
    transition: .3s;
    }
    

.user-link{
    margin-right: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #0B132A;
    text-decoration: none;

}

/* =======Hero======== */

.hero{
    width: 100%;
    padding-top: 89px;
    padding-bottom: 103px;
}
.content-inner{
    display: flex;
}

.content-column{
    max-width: 650px;
    margin-right: 50px;
}

.content-title{
font-size: 45px;
font-weight: 500;
padding-top: 30px;
line-height: 70px;
margin: 0;
margin-bottom: 20px;
}


.content-column{
    max-width: 555px;
}
.content-img{
    max-width: 555px;
    padding-right: 40px;
}

.content-button{
    margin-top: 40px;
    max-width: 255px;
    padding: 20px 60px;
    width: 250px;
    border-radius: 10px;
    background: #F53838;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: none;

}



/* =========Advantages==== */

.advantages{
    width: 100%;
    /* margin-top: 78px; */
}
.advantages-column{
    display: flex;
    align-items: center;
    /* width: 100%; */
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 42px 114px rgba(13, 16, 37, .06);
}
.advantages-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 126px;
    border-right: solid 2px #EEEFF2;
}

.advantages-card:last-child{
    border-right: none;
}

.advantages-card-descr{
    margin-left:37px;
    display: flex;
    flex-direction: column;
}

.advantages-card-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #0B132A;

}

/* ===INFORMATIION */

.info{
    width: 100%;
    padding-bottom: 131px;
    margin-top: 96px;
}

.info-inner{
    display: flex;
    max-width: 1225px;
    width: 100%;
    margin: 0 auto;
}

.info-img{
    width: 508px;
    height: 414px;
    margin-left: auto;
}
.info-first{
margin-left: 130px;
margin-top: 10px;
}


.info-title{
    width: 383px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}
.info-descr{
    width: 427px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
}
.info-list{
    list-style: none;
    margin-top: 20px;
    padding-left: 34px;
}
.info-list-item{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color:#0B132A;
}

.info-list-item:not(:first-child){
    margin-top: 15px;
}

.info-list-item::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 24px;
    background: url(./img/greenT.png);
}

/* ============bg Gradient==== */

.bg-gradient{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #F6F6F6,#FFFFFF);
}

/* ==Plan============= */

.plan{
    width: 100%;
    padding-top: 80px;
    /* padding-bottom: 150px; */
}
.plan-title{
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}
.plan-descr{
    margin: 20px auto 60px ;
    text-align:center;
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
    line-height: 30px;
}
.plan-container{
    display: grid;
    grid-template-columns: repeat(3,330px);
    grid-template-rows: 760px;
    grid-column-gap: 50px;
    max-width: min-content;
    /* width: 100px; */
    margin: 0 auto;
}
.plan-card{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 760px;
    border: solid 2px #DDDDDD;
    border-radius: 10PX;
    text-align: center;
    /* transition: .3s; */
}
.plan-card:hover{
    border: solid 2px #F53838;
    transform: scale(1.1);
    box-shadow: 0 71px 114px rgba(13, 16, 37, .06);
    transition: .3s;
}
.plan-card-img{
    display: block;
    margin: 80px auto 30px;
    width: 145px;
    height: 165px;
}
.card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
}
.plan-card-list{
    display: flex;
    flex-direction: column;
    margin: 30px 75px auto;
    max-width: min-content;
    width: 100%;
    padding-left: 34px;
    text-align: initial;
    list-style: none;

}
.plan-list-item{
    min-width: 205px;
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* text-align: center; */
}
.plan-list-item:not(:first-child){
    margin-top: 10px;
}
.plan-list-item::before{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url(./img/check.svg);
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
}
.plan-card-price{
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}
.plan-card-btn{
    width: 178px;
    height: 45px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #F53838;
    color: #F53838;
    margin: 0 auto 64px;
}
.plan-card-btn:hover{
    background-color:#F53838;
    color: #fff;
    transition: .3s;
}
.plan-weight{
    color: #4F5665;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

/* ===========Global====== */
.global{
    width: 100%;
}
.global-title{
    margin: 150px auto 20px;
    width: 383px;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    line-height: 50px;
    color: #0B132A;
}
.global-descr{
    margin: 0 auto;
    width: 555px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.global-img-map{
    margin: 186px auto 36px;
    display: block;
    width: 1050px;
    height: 538px;
}
.global-list{
    max-width: 1136px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto 0;
}

/* ==========comments========= */
.comments{
    width: 100%;
    position: relative;

}
.comments-title{
    text-align: center;
    width: 447px;
    margin: 50px auto 20px;
    color: #0B132A;
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
}
.comments-descr{
    width: 555px;
    text-align: center;
    font-family: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
}
.comments-container{
    padding-bottom: 182px;
}
.comments-slider{
    display: flex;
    max-width:min-content ;
    width: 100%;
    margin: 60px auto 0;
    height: 230px;
}

.comments-card:not(:first-child) {
    margin-left: 50px;
}
.comments-card{
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    transition: .3s;
    width: 400px;
    height: 230px;
}

.comments-card:hover{
    border: solid 2px #F53838;
    transform: scale(1.1);
    box-shadow: 0 71px 114px rgba(13, 16, 37, .06);
    transition: .3s;
}
.comments-card-header{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 30px 30px 0;
}
.comments-card-avatar{
    display: block;
    width: 50px;
    height: 50px;
}
.comments-card-descr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: auto;
}
.comments-card-name{
    color: #0B132A;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.comments-card-country{
    color: #4F5665;
    font-weight: 400;
     font-size: 14px;
     line-height: 30px;
}
.comments-card-rating{
    color: #0B132A;
    margin-right: 10px;
    font-size: 16px;
    line-height: 30px;
    font-weight:400 ;
}
.comments-card-text{
    display: block;
    margin: 20px 30px 5px;
    color: #0B132A;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width:340px ;
}
.comments-slider-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:60px auto 0;
    max-width: 1142px;
    width: 100%;
    height: 60px;
    /* margin-bottom: 187px; */
}
.comments-slider-state{
    display: flex;
    justify-content: space-between;
    max-width: 135px;
    width: 100%;
    height: 15px;
}
.comments-slider-indicator{
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 50px;
    transition: .3s;
}
.indic-active{
    background-color: #F53838;
    width: 45px;
    border-radius: 7.5px;
}
.comments-slider-indicator:hover{
    transform: scale(1.3);
    transition: .3s;
}
.comments-slider-btns{
    display: flex;
}
.comments-slider-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #F53838;
    border-radius: 50%;
    width: 60px;
    height: 60px;transition: .3s;
}
.comments-slider-btn:last-child{
    background-color: #F53838;
    color: #fff;
    margin-left: 20px;
}
.comments-slider-btn:hover{
    transform: scale(1.2) rotate(-360deg);
    box-shadow: 0 0 114px rgba(13, 16, 37, .3);
}
.comments-subscrip{
    display: flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -117px;
    max-width: 1140px;
    width: 100%;
    height: 233px;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 2px #DDDDDD;
    background-color: #fff;
    box-shadow:0 0px 114px rgba(13, 16, 37, 0.6) ;
    /* margin-left: 70px; */
    /* margin-bottom: 100px; */
}
.comments-subscrip-title{
    width: 410px;
    color: #0B132A;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    margin: 0;
    padding: 0;
    /* padding-left: -40px; */
    /* margin-left: 70px; */
} 
.comments-subscrip-subtitle{
    /* margin-left: 70px; */
    margin: 0;
    padding-right: 70px;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    /* margin-left: 70px; */
    padding-top: 20px;
}
.comments-subscrip-btn{
    margin-left: 167px;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    box-shadow: 0 26px 54px rgba(245, 56, 56, 0.35);
    transition: .3s;
}
.comments-subscrip-btn:hover{
    transform: scale(1.2);
    transition: .3s;
}

/* -==================footer=========== */
.footer{
    width: 100%;
    background-color:#F8F8F8 ;
    padding-bottom: 100px;
    /* padding-top: 64PX; */
}
.footer-container{
display: flex;
max-width: 1222px;
width: 100%;
margin: 0 auto;
padding-top: 180px;
}
.footer-info{
    width: 443px;
}
.footer-logo{
    width: 148px;
    height: 36px;
    margin-bottom: 20px;
}
.footer-descr{
    width:340px ;
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.footer-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 141px;
    height: 34px;
    margin: 0;
}

.footer-social-icon img:not(:first-child){
    margin-left: 20px;
}
.footer-social-icon img:hover{
     transform: scale(1.2) rotate(-50%);
     transition:.5s ;
}
.footer-help-container{
    display: flex;
    margin-left: auto;
    width: 656px;
}
.footer-products{
    width: 141px;
    margin-right: 59px;
}
.footer-copyright{
    display: flex;
    color: #AFB5C0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 0;
}
.font-medium{
    font-weight: 500;
}
.footer-help-title{
    color: #0B132A;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}
.footer-help-list{
    padding: 0;
    list-style: none;
}
.footer-participate{
    width: 182px;
}
.footer-money{
    margin-left: 68px;
}
.footer-money-list{
    width: 206px;
}
.footer-help-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #4F5665;
}
.footer-help-item:last-child{
    margin-bottom: 0;
}